.admin-user-section {
    display: inline-block;
}

.admin-user-avatar {
    margin-right: 5px;
    margin-top: -2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}

.admin-user-no-image-content {
    margin-right: 5px;
    margin-top: -2px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}

.admin-user-no-image-char {
    color: #fff;
}
