@font-face {
    font-family: 'FZCUSONG';
    src: url('WRYH.eot');
    src:
        url('WRYH.eot?#font-spider') format('embedded-opentype'),
        url('WRYH.woff') format('woff'),
        url('WRYH.ttf') format('truetype'),
        url('WRYH.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.meicanyun-logo-font {
    font-family: 'FZCUSONG';
    letter-spacing: 1px;
}
