
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-weixin"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-shopping-basket"></i>
                    <div class="name">外卖</div>
                    <div class="fontclass">.icon-fa-shopping-basket</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-glass"></i>
                    <div class="name">美食</div>
                    <div class="fontclass">.icon-fa-glass</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-gg-circle"></i>
                    <div class="name">3.1-品牌</div>
                    <div class="fontclass">.icon-fa-gg-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-file-text"></i>
                    <div class="name">客服</div>
                    <div class="fontclass">.icon-fa-file-text</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxiang"></i>
                    <div class="name">邮箱</div>
                    <div class="fontclass">.icon-youxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-building-o"></i>
                    <div class="name">门店-qsh_复制</div>
                    <div class="fontclass">.icon-fa-building-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-tag"></i>
                    <div class="name">营销</div>
                    <div class="fontclass">.icon-fa-tag</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-lemon-o"></i>
                    <div class="name">菜品</div>
                    <div class="fontclass">.icon-fa-lemon-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-calendar-minus-o"></i>
                    <div class="name">餐位管理</div>
                    <div class="fontclass">.icon-fa-calendar-minus-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianshang"></i>
                    <div class="name">电商</div>
                    <div class="fontclass">.icon-dianshang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianshangbaobiao"></i>
                    <div class="name">电商报表</div>
                    <div class="fontclass">.icon-dianshangbaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiehuanshanghu"></i>
                    <div class="name">切换商户</div>
                    <div class="fontclass">.icon-qiehuanshanghu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-cog"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-fa-cog</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouqi"></i>
                    <div class="name">收起</div>
                    <div class="fontclass">.icon-shouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-waimaibaobiao"></i>
                    <div class="name">外卖报表</div>
                    <div class="fontclass">.icon-waimaibaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-xiala</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiehuancaidanzhuangtai"></i>
                    <div class="name">切换菜单状态</div>
                    <div class="fontclass">.icon-qiehuancaidanzhuangtai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongji"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.icon-tongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-file-text-o"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.icon-fa-file-text-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mima"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.icon-mima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-file-zip-o"></i>
                    <div class="name">堂食订单2</div>
                    <div class="fontclass">.icon-fa-file-zip-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-file-word-o"></i>
                    <div class="name">外卖订单</div>
                    <div class="fontclass">.icon-fa-file-word-o</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxuanzhuan"></i>
                    <div class="name">右旋转</div>
                    <div class="fontclass">.icon-youxuanzhuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoxuanzhuan"></i>
                    <div class="name">左旋转</div>
                    <div class="fontclass">.icon-zuoxuanzhuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwu"></i>
                    <div class="name">财务</div>
                    <div class="fontclass">.icon-caiwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tangshibaobiao"></i>
                    <div class="name">堂食报表</div>
                    <div class="fontclass">.icon-tangshibaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichanzhongxin"></i>
                    <div class="name">资产中心</div>
                    <div class="fontclass">.icon-zichanzhongxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yonghuzhongxin"></i>
                    <div class="name">用户中心</div>
                    <div class="fontclass">.icon-yonghuzhongxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pingtaiguanlizhongxin"></i>
                    <div class="name">平台管理中心</div>
                    <div class="fontclass">.icon-pingtaiguanlizhongxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingxiaobaobiao"></i>
                    <div class="name">营销报表</div>
                    <div class="fontclass">.icon-yingxiaobaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fa-truck"></i>
                    <div class="name">物流</div>
                    <div class="fontclass">.icon-fa-truck</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shenfenzheng"></i>
                    <div class="name">身份证</div>
                    <div class="fontclass">.icon-shenfenzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yinxingqia"></i>
                    <div class="name">银行卡</div>
                    <div class="fontclass">.icon-yinxingqia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichu"></i>
                    <div class="name">退出2</div>
                    <div class="fontclass">.icon-tuichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-touxiang"></i>
                    <div class="name">头像</div>
                    <div class="fontclass">.icon-touxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche4"></i>
                    <div class="name">购物车4</div>
                    <div class="fontclass">.icon-gouwuche4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dabaogongguanli"></i>
                    <div class="name">打包工管理</div>
                    <div class="fontclass">.icon-dabaogongguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caigou"></i>
                    <div class="name">采购</div>
                    <div class="fontclass">.icon-caigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cangku"></i>
                    <div class="name">仓库</div>
                    <div class="fontclass">.icon-cangku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chuku"></i>
                    <div class="name">出库</div>
                    <div class="fontclass">.icon-chuku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jichuziliao"></i>
                    <div class="name">基础资料</div>
                    <div class="fontclass">.icon-jichuziliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinxiaocun"></i>
                    <div class="name">进销存</div>
                    <div class="fontclass">.icon-jinxiaocun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ruku"></i>
                    <div class="name">入库</div>
                    <div class="fontclass">.icon-ruku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shishichaxun"></i>
                    <div class="name">实时查询</div>
                    <div class="fontclass">.icon-shishichaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yue"></i>
                    <div class="name">余额</div>
                    <div class="fontclass">.icon-yue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tousufangshi"></i>
                    <div class="name">投诉方式</div>
                    <div class="fontclass">.icon-tousufangshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kuaicanpandian"></i>
                    <div class="name">快餐盘点</div>
                    <div class="fontclass">.icon-kuaicanpandian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiesuan"></i>
                    <div class="name">jiesuan</div>
                    <div class="fontclass">.icon-jiesuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duizhang"></i>
                    <div class="name">duizhang</div>
                    <div class="fontclass">.icon-duizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwu1"></i>
                    <div class="name">caiwu(2)</div>
                    <div class="fontclass">.icon-caiwu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shishishuju"></i>
                    <div class="name">实时数据</div>
                    <div class="fontclass">.icon-shishishuju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengcanshujufenxi"></i>
                    <div class="name">正餐数据分析</div>
                    <div class="fontclass">.icon-zhengcanshujufenxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingyefenxi"></i>
                    <div class="name">营业分析</div>
                    <div class="fontclass">.icon-yingyefenxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenhao"></i>
                    <div class="name">wenhao</div>
                    <div class="fontclass">.icon-wenhao</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
