
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <script src="iconfont.js"></script>

    <style type="text/css">
        .icon {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-weixin"></use>
                    </svg>
                    <div class="name">微信</div>
                    <div class="fontclass">#icon-weixin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-shopping-basket"></use>
                    </svg>
                    <div class="name">外卖</div>
                    <div class="fontclass">#icon-fa-shopping-basket</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-glass"></use>
                    </svg>
                    <div class="name">美食</div>
                    <div class="fontclass">#icon-fa-glass</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-gg-circle"></use>
                    </svg>
                    <div class="name">3.1-品牌</div>
                    <div class="fontclass">#icon-fa-gg-circle</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-file-text"></use>
                    </svg>
                    <div class="name">客服</div>
                    <div class="fontclass">#icon-fa-file-text</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-youxiang"></use>
                    </svg>
                    <div class="name">邮箱</div>
                    <div class="fontclass">#icon-youxiang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-building-o"></use>
                    </svg>
                    <div class="name">门店-qsh_复制</div>
                    <div class="fontclass">#icon-fa-building-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-tag"></use>
                    </svg>
                    <div class="name">营销</div>
                    <div class="fontclass">#icon-fa-tag</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-lemon-o"></use>
                    </svg>
                    <div class="name">菜品</div>
                    <div class="fontclass">#icon-fa-lemon-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-calendar-minus-o"></use>
                    </svg>
                    <div class="name">餐位管理</div>
                    <div class="fontclass">#icon-fa-calendar-minus-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dianshang"></use>
                    </svg>
                    <div class="name">电商</div>
                    <div class="fontclass">#icon-dianshang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dianshangbaobiao"></use>
                    </svg>
                    <div class="name">电商报表</div>
                    <div class="fontclass">#icon-dianshangbaobiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-qiehuanshanghu"></use>
                    </svg>
                    <div class="name">切换商户</div>
                    <div class="fontclass">#icon-qiehuanshanghu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-cog"></use>
                    </svg>
                    <div class="name">设置</div>
                    <div class="fontclass">#icon-fa-cog</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shouqi"></use>
                    </svg>
                    <div class="name">收起</div>
                    <div class="fontclass">#icon-shouqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-waimaibaobiao"></use>
                    </svg>
                    <div class="name">外卖报表</div>
                    <div class="fontclass">#icon-waimaibaobiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiala"></use>
                    </svg>
                    <div class="name">下拉</div>
                    <div class="fontclass">#icon-xiala</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-qiehuancaidanzhuangtai"></use>
                    </svg>
                    <div class="name">切换菜单状态</div>
                    <div class="fontclass">#icon-qiehuancaidanzhuangtai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tongji"></use>
                    </svg>
                    <div class="name">统计</div>
                    <div class="fontclass">#icon-tongji</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-file-text-o"></use>
                    </svg>
                    <div class="name">订单</div>
                    <div class="fontclass">#icon-fa-file-text-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-mima"></use>
                    </svg>
                    <div class="name">密码</div>
                    <div class="fontclass">#icon-mima</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-file-zip-o"></use>
                    </svg>
                    <div class="name">堂食订单2</div>
                    <div class="fontclass">#icon-fa-file-zip-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-file-word-o"></use>
                    </svg>
                    <div class="name">外卖订单</div>
                    <div class="fontclass">#icon-fa-file-word-o</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-guanbi"></use>
                    </svg>
                    <div class="name">关闭</div>
                    <div class="fontclass">#icon-guanbi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-youxuanzhuan"></use>
                    </svg>
                    <div class="name">右旋转</div>
                    <div class="fontclass">#icon-youxuanzhuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zuoxuanzhuan"></use>
                    </svg>
                    <div class="name">左旋转</div>
                    <div class="fontclass">#icon-zuoxuanzhuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-caiwu"></use>
                    </svg>
                    <div class="name">财务</div>
                    <div class="fontclass">#icon-caiwu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tangshibaobiao"></use>
                    </svg>
                    <div class="name">堂食报表</div>
                    <div class="fontclass">#icon-tangshibaobiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zichanzhongxin"></use>
                    </svg>
                    <div class="name">资产中心</div>
                    <div class="fontclass">#icon-zichanzhongxin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yonghuzhongxin"></use>
                    </svg>
                    <div class="name">用户中心</div>
                    <div class="fontclass">#icon-yonghuzhongxin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pingtaiguanlizhongxin"></use>
                    </svg>
                    <div class="name">平台管理中心</div>
                    <div class="fontclass">#icon-pingtaiguanlizhongxin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yingxiaobaobiao"></use>
                    </svg>
                    <div class="name">营销报表</div>
                    <div class="fontclass">#icon-yingxiaobaobiao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fa-truck"></use>
                    </svg>
                    <div class="name">物流</div>
                    <div class="fontclass">#icon-fa-truck</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shenfenzheng"></use>
                    </svg>
                    <div class="name">身份证</div>
                    <div class="fontclass">#icon-shenfenzheng</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yinxingqia"></use>
                    </svg>
                    <div class="name">银行卡</div>
                    <div class="fontclass">#icon-yinxingqia</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tuichu"></use>
                    </svg>
                    <div class="name">退出2</div>
                    <div class="fontclass">#icon-tuichu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-touxiang"></use>
                    </svg>
                    <div class="name">头像</div>
                    <div class="fontclass">#icon-touxiang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-gouwuche4"></use>
                    </svg>
                    <div class="name">购物车4</div>
                    <div class="fontclass">#icon-gouwuche4</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dabaogongguanli"></use>
                    </svg>
                    <div class="name">打包工管理</div>
                    <div class="fontclass">#icon-dabaogongguanli</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-caigou"></use>
                    </svg>
                    <div class="name">采购</div>
                    <div class="fontclass">#icon-caigou</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-cangku"></use>
                    </svg>
                    <div class="name">仓库</div>
                    <div class="fontclass">#icon-cangku</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chuku"></use>
                    </svg>
                    <div class="name">出库</div>
                    <div class="fontclass">#icon-chuku</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jichuziliao"></use>
                    </svg>
                    <div class="name">基础资料</div>
                    <div class="fontclass">#icon-jichuziliao</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jinxiaocun"></use>
                    </svg>
                    <div class="name">进销存</div>
                    <div class="fontclass">#icon-jinxiaocun</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-ruku"></use>
                    </svg>
                    <div class="name">入库</div>
                    <div class="fontclass">#icon-ruku</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shishichaxun"></use>
                    </svg>
                    <div class="name">实时查询</div>
                    <div class="fontclass">#icon-shishichaxun</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yue"></use>
                    </svg>
                    <div class="name">余额</div>
                    <div class="fontclass">#icon-yue</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tousufangshi"></use>
                    </svg>
                    <div class="name">投诉方式</div>
                    <div class="fontclass">#icon-tousufangshi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-kuaicanpandian"></use>
                    </svg>
                    <div class="name">快餐盘点</div>
                    <div class="fontclass">#icon-kuaicanpandian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jiesuan"></use>
                    </svg>
                    <div class="name">jiesuan</div>
                    <div class="fontclass">#icon-jiesuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-duizhang"></use>
                    </svg>
                    <div class="name">duizhang</div>
                    <div class="fontclass">#icon-duizhang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-caiwu1"></use>
                    </svg>
                    <div class="name">caiwu(2)</div>
                    <div class="fontclass">#icon-caiwu1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shishishuju"></use>
                    </svg>
                    <div class="name">实时数据</div>
                    <div class="fontclass">#icon-shishishuju</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-zhengcanshujufenxi"></use>
                    </svg>
                    <div class="name">正餐数据分析</div>
                    <div class="fontclass">#icon-zhengcanshujufenxi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-yingyefenxi"></use>
                    </svg>
                    <div class="name">营业分析</div>
                    <div class="fontclass">#icon-yingyefenxi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-wenhao"></use>
                    </svg>
                    <div class="name">wenhao</div>
                    <div class="fontclass">#icon-wenhao</div>
                </li>
            
        </ul>


        <h2 id="symbol-">symbol引用</h2>
        <hr>

        <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
        这种用法其实是做了一个svg的集合，与另外两种相比具有如下特点：</p>
        <ul>
          <li>支持多色图标了，不再受单色限制。</li>
          <li>通过一些技巧，支持像字体那样，通过<code>font-size</code>,<code>color</code>来调整样式。</li>
          <li>兼容性较差，支持 ie9+,及现代浏览器。</li>
          <li>浏览器渲染svg的性能一般，还不如png。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-symbol-">第一步：引入项目下面生成的symbol代码：</h3>
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;</span></code></pre>
        <h3 id="-css-">第二步：加入通用css代码（引入一次就行）：</h3>
        <pre><code class="lang-js hljs javascript">&lt;style type=<span class="hljs-string">"text/css"</span>&gt;
.icon {
   width: <span class="hljs-number">1</span>em; height: <span class="hljs-number">1</span>em;
   vertical-align: <span class="hljs-number">-0.15</span>em;
   fill: currentColor;
   overflow: hidden;
}
&lt;<span class="hljs-regexp">/style&gt;</span></code></pre>
        <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-js hljs javascript">&lt;svg <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"icon"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;<span class="xml"><span class="hljs-tag">
  &lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#icon-xxx"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
</span>&lt;<span class="hljs-regexp">/svg&gt;
        </span></code></pre>
    </div>
</body>
</html>
